# IMPORT LIBRARIES

In [1]:
import pandas as pd
import numpy as np

# LOAD DATA

In [2]:
data_path = r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\ESK10607.csv"

In [3]:
df = pd.read_csv(data_path)

# EXPLORATORY DATA ANALYSIS

In [4]:
df.head()

,Date Time Hour Beginning,Original Res Forecast before Lockdown,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
0,2020-04-01 12:00:00 AM,21964.211,15973.653,16700.031,15695.40,15695.40,16758.232,1704.954,1069.0,15560.0,...,1053.539,0.0,0.0,9.293,1062.832,2079.76,1699.19,500.0,21.78,4300.73
1,2020-04-01 01:00:00 AM,21486.852,15649.973,16357.728,15450.27,15450.27,16401.964,1716.990,938.0,15423.0,...,942.265,0.0,0.0,9.429,951.694,2079.76,1699.19,500.0,21.78,4300.73
2,2020-04-01 02:00:00 AM,21366.136,15452.154,16136.543,15211.40,15211.40,16136.822,1691.063,848.0,15319.0,...,915.664,0.0,0.0,9.758,925.422,2079.76,1699.19,500.0,21.78,4300.73
3,2020-04-01 03:00:00 AM,21535.832,15572.487,16222.955,15206.27,15206.27,16169.168,1657.440,831.0,15317.0,...,953.095,0.0,0.0,9.803,962.898,2079.76,1699.19,500.0,21.78,4300.73
4,2020-04-01 04:00:00 AM,22623.152,16011.992,16623.471,15574.27,15574.27,16502.843,1640.295,944.0,15506.0,...,919.000,0.0,0.0,9.573,928.573,2079.76,1699.19,500.0,21.78,4300.73

In [5]:
df.tail()

,Date Time Hour Beginning,Original Res Forecast before Lockdown,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
35059,2024-03-31 07:00:00 PM,NaN,22558.340,24615.340,22626.450,22626.450,24536.452,1289.545,1301.027,18526.131,...,1623.009,0.0,179.924,35.887,1838.820,3442.57,2287.09,500.0,50.58,6280.24
35060,2024-03-31 08:00:00 PM,NaN,21269.369,23292.369,21387.297,21387.297,23028.317,1217.789,1291.333,17431.704,...,1462.555,0.0,69.642,36.756,1568.953,3442.57,2287.09,500.0,50.58,6280.24
35061,2024-03-31 09:00:00 PM,NaN,19797.933,21637.933,19778.334,19778.334,21606.294,1134.333,1310.758,16696.966,...,1718.517,0.0,1.103,36.351,1755.971,3442.57,2287.09,500.0,50.58,6280.24
35062,2024-03-31 10:00:00 PM,NaN,18933.896,20446.896,18533.049,18533.049,20500.996,1144.559,1284.796,16577.079,...,1861.321,0.0,0.000,33.306,1894.627,3442.57,2287.09,500.0,50.58,6280.24
35063,2024-03-31 11:00:00 PM,NaN,18106.006,19501.006,17703.493,17703.493,19656.482,1132.896,1292.789,16635.431,...,1850.744,0.0,0.000,30.255,1880.999,3442.57,2287.09,500.0,50.58,6280.24

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date Time Hour Beginning               35064 non-null  object
 1   Original Res Forecast before Lockdown  24120 non-null  float64
 2   Residual Forecast                      35064 non-null  float64
 3   RSA Contracted Forecast                35064 non-null  float64
 4   Dispatchable Generation                35064 non-null  float64
 5   Residual Demand                        35064 non-null  float64
 6   RSA Contracted Demand                  35064 non-null  float64
 7   International Exports                  35064 non-null  float64
 8   International Imports                  35064 non-null  float64
 9   Thermal Generation                     35064 non-null  float64
 10  Nuclear Generation                     35064 non-null  float64
 11  Eskom Gas Generation                   35064 non-null  float64
 12  Eskom OCGT Generation                  35064 non-null  float64
 13  Hydro Water Generation                 35064 non-null  float64
 14  Pumped Water Generation                35064 non-null  float64
 15  ILS Usage                              35064 non-null  float64
 16  Manual Load_Reduction(MLR)             35064 non-null  float64
 17  IOS Excl ILS and MLR                   35064 non-null  float64
 18  Dispatchable IPP OCGT                  35064 non-null  float64
 19  Eskom Gas SCO                          35064 non-null  float64
 20  Eskom OCGT SCO                         35064 non-null  float64
 21  Hydro Water SCO                        35064 non-null  float64
 22  Pumped Water SCO Pumping               35064 non-null  float64
 23  Drakensberg Gen Unit Hours             35064 non-null  float64
 24  Palmiet Gen Unit Hours                 35064 non-null  float64
 25  Ingula Gen Unit Hours                  35064 non-null  float64
 26  Wind                                   35064 non-null  float64
 27  PV                                     35064 non-null  float64
 28  CSP                                    35064 non-null  float64
 29  Other RE                               35064 non-null  float64
 30  Total RE                               35064 non-null  float64
 31  Wind Installed Capacity                35064 non-null  float64
 32  PV Installed Capacity                  35064 non-null  float64
 33  CSP Installed Capacity                 35064 non-null  float64
 34  Other RE Installed Capacity            35064 non-null  float64
 35  Total RE Installed Capacity            35064 non-null  float64
dtypes: float64(35), object(1)
memory usage: 9.6+ MB

In [7]:
df.describe()

,Original Res Forecast before Lockdown,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,Nuclear Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
count,24120.000000,35064.000000,35064.000000,35064.000000,35064.00000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,...,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.0,35064.000000,35064.000000
mean,25696.925347,23784.514120,25581.273590,22922.221245,23778.42043,25610.565088,1414.033815,1192.623061,20123.609092,1148.028506,...,1065.572480,559.110900,173.276803,19.419737,1817.379919,2964.105619,2159.850027,500.0,37.572471,5661.528118
std,2976.391694,2861.708087,3192.533183,2863.870433,2908.68932,3207.121843,191.439414,240.805677,2074.880938,395.271668,...,569.168017,687.098966,169.912030,10.884958,961.813165,506.972931,156.316740,0.0,13.443105,656.397656
min,17962.121000,14319.136000,15172.651000,13797.940000,13797.94000,14929.991000,587.054000,0.000000,13774.000000,-36.000000,...,19.803000,0.000000,0.000000,1.148000,48.747000,2079.760000,1699.190000,500.0,21.780000,4300.730000
25%,23179.918500,21473.707000,22667.584750,20744.417750,21488.98575,22745.142250,1275.982500,1105.841000,18669.989750,909.000000,...,626.103250,0.000000,0.000000,11.333250,1021.607000,2495.020000,2157.090000,500.0,25.580000,5177.690000
50%,25975.684000,24008.514500,26222.652500,22824.940000,23930.85300,26235.596000,1403.488500,1196.000000,20042.467500,922.000000,...,989.308000,26.285500,119.826500,15.496000,1705.028500,3163.370000,2212.090000,500.0,50.580000,5926.040000
75%,27773.274000,25740.708500,28053.229250,24995.250750,25758.99775,28045.616250,1544.344500,1365.441000,21560.000000,1567.000000,...,1430.546000,1244.932000,330.062750,29.323000,2531.884750,3442.570000,2287.090000,500.0,50.580000,6280.240000
max,34900.376000,33008.667000,34567.494000,32383.649000,34029.03000,35004.746000,2165.202000,1765.000000,26591.300000,1852.000000,...,3102.225000,2111.693000,506.249000,46.153000,5129.764000,3442.570000,2287.090000,500.0,50.580000,6280.240000

# Checking and handling missing values

In [8]:
# Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

# If you want to drop rows with missing values
#df_cleaned = df.dropna()

# If you want to fill missing values
#df_filled = df.fillna(method='ffill')  # Forward fill missing values

Date Time Hour Beginning                     0
Original Res Forecast before Lockdown    10944
Residual Forecast                            0
RSA Contracted Forecast                      0
Dispatchable Generation                      0
Residual Demand                              0
RSA Contracted Demand                        0
International Exports                        0
International Imports                        0
Thermal Generation                           0
Nuclear Generation                           0
Eskom Gas Generation                         0
Eskom OCGT Generation                        0
Hydro Water Generation                       0
Pumped Water Generation                      0
ILS Usage                                    0
Manual Load_Reduction(MLR)                   0
IOS Excl ILS and MLR                         0
Dispatchable IPP OCGT                        0
Eskom Gas SCO                                0
Eskom OCGT SCO                               0
Hydro Water SCO                              0
Pumped Water SCO Pumping                     0
Drakensberg Gen Unit Hours                   0
Palmiet Gen Unit Hours                       0
Ingula Gen Unit Hours                        0
Wind                                         0
PV                                           0
CSP                                          0
Other RE                                     0
Total RE                                     0
Wind Installed Capacity                      0
PV Installed Capacity                        0
CSP Installed Capacity                       0
Other RE Installed Capacity                  0
Total RE Installed Capacity                  0
dtype: int64

In [9]:
df_cleaned = df.drop(columns=['Original Res Forecast before Lockdown'])

In [10]:
df_cleaned.head()

,Date Time Hour Beginning,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,Nuclear Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
0,2020-04-01 12:00:00 AM,15973.653,16700.031,15695.40,15695.40,16758.232,1704.954,1069.0,15560.0,1621.0,...,1053.539,0.0,0.0,9.293,1062.832,2079.76,1699.19,500.0,21.78,4300.73
1,2020-04-01 01:00:00 AM,15649.973,16357.728,15450.27,15450.27,16401.964,1716.990,938.0,15423.0,1621.0,...,942.265,0.0,0.0,9.429,951.694,2079.76,1699.19,500.0,21.78,4300.73
2,2020-04-01 02:00:00 AM,15452.154,16136.543,15211.40,15211.40,16136.822,1691.063,848.0,15319.0,1620.0,...,915.664,0.0,0.0,9.758,925.422,2079.76,1699.19,500.0,21.78,4300.73
3,2020-04-01 03:00:00 AM,15572.487,16222.955,15206.27,15206.27,16169.168,1657.440,831.0,15317.0,1620.0,...,953.095,0.0,0.0,9.803,962.898,2079.76,1699.19,500.0,21.78,4300.73
4,2020-04-01 04:00:00 AM,16011.992,16623.471,15574.27,15574.27,16502.843,1640.295,944.0,15506.0,1621.0,...,919.000,0.0,0.0,9.573,928.573,2079.76,1699.19,500.0,21.78,4300.73

In [11]:
# Lets convert datte column to datetime format
df_cleaned['Date Time Hour Beginning'] = pd.to_datetime(df_cleaned['Date Time Hour Beginning'])

# Create separate Date and Time columns
df_cleaned['Date_Time'] = df_cleaned['Date Time Hour Beginning'].dt.date
df_cleaned['Time_Hr'] = df_cleaned['Date Time Hour Beginning'].dt.strftime('%H:%M:%S')

# Optional: Drop the original column if no longer needed
df_cleaned.drop(columns=['Date Time Hour Beginning'], inplace=True)

C:\Users\phiri\AppData\Local\Temp\ipykernel_24556\2738832165.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned['Date Time Hour Beginning'] = pd.to_datetime(df_cleaned['Date Time Hour Beginning'])

In [12]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Residual Forecast            35064 non-null  float64
 1   RSA Contracted Forecast      35064 non-null  float64
 2   Dispatchable Generation      35064 non-null  float64
 3   Residual Demand              35064 non-null  float64
 4   RSA Contracted Demand        35064 non-null  float64
 5   International Exports        35064 non-null  float64
 6   International Imports        35064 non-null  float64
 7   Thermal Generation           35064 non-null  float64
 8   Nuclear Generation           35064 non-null  float64
 9   Eskom Gas Generation         35064 non-null  float64
 10  Eskom OCGT Generation        35064 non-null  float64
 11  Hydro Water Generation       35064 non-null  float64
 12  Pumped Water Generation      35064 non-null  float64
 13  ILS Usage                    35064 non-null  float64
 14  Manual Load_Reduction(MLR)   35064 non-null  float64
 15  IOS Excl ILS and MLR         35064 non-null  float64
 16  Dispatchable IPP OCGT        35064 non-null  float64
 17  Eskom Gas SCO                35064 non-null  float64
 18  Eskom OCGT SCO               35064 non-null  float64
 19  Hydro Water SCO              35064 non-null  float64
 20  Pumped Water SCO Pumping     35064 non-null  float64
 21  Drakensberg Gen Unit Hours   35064 non-null  float64
 22  Palmiet Gen Unit Hours       35064 non-null  float64
 23  Ingula Gen Unit Hours        35064 non-null  float64
 24  Wind                         35064 non-null  float64
 25  PV                           35064 non-null  float64
 26  CSP                          35064 non-null  float64
 27  Other RE                     35064 non-null  float64
 28  Total RE                     35064 non-null  float64
 29  Wind Installed Capacity      35064 non-null  float64
 30  PV Installed Capacity        35064 non-null  float64
 31  CSP Installed Capacity       35064 non-null  float64
 32  Other RE Installed Capacity  35064 non-null  float64
 33  Total RE Installed Capacity  35064 non-null  float64
 34  Date_Time                    35064 non-null  object
 35  Time_Hr                      35064 non-null  object
dtypes: float64(34), object(2)
memory usage: 9.6+ MB

In [13]:
df_cleaned = df_cleaned[['Date_Time', 'Time_Hr'] + [col for col in df_cleaned.columns if col not in ['Date_Time', 'Time_Hr']]]

In [14]:

df_cleaned['Date_Time'] = pd.to_datetime(df_cleaned['Date_Time'])

In [15]:
df_cleaned.head()

,Date_Time,Time_Hr,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
0,2020-04-01,00:00:00,15973.653,16700.031,15695.40,15695.40,16758.232,1704.954,1069.0,15560.0,...,1053.539,0.0,0.0,9.293,1062.832,2079.76,1699.19,500.0,21.78,4300.73
1,2020-04-01,01:00:00,15649.973,16357.728,15450.27,15450.27,16401.964,1716.990,938.0,15423.0,...,942.265,0.0,0.0,9.429,951.694,2079.76,1699.19,500.0,21.78,4300.73
2,2020-04-01,02:00:00,15452.154,16136.543,15211.40,15211.40,16136.822,1691.063,848.0,15319.0,...,915.664,0.0,0.0,9.758,925.422,2079.76,1699.19,500.0,21.78,4300.73
3,2020-04-01,03:00:00,15572.487,16222.955,15206.27,15206.27,16169.168,1657.440,831.0,15317.0,...,953.095,0.0,0.0,9.803,962.898,2079.76,1699.19,500.0,21.78,4300.73
4,2020-04-01,04:00:00,16011.992,16623.471,15574.27,15574.27,16502.843,1640.295,944.0,15506.0,...,919.000,0.0,0.0,9.573,928.573,2079.76,1699.19,500.0,21.78,4300.73

In [16]:
df_cleaned['Time_Hr'] = pd.to_datetime(df_cleaned['Time_Hr'], format='%H:%M:%S').dt.time

In [17]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date_Time                    35064 non-null  datetime64[ns]
 1   Time_Hr                      35064 non-null  object
 2   Residual Forecast            35064 non-null  float64
 3   RSA Contracted Forecast      35064 non-null  float64
 4   Dispatchable Generation      35064 non-null  float64
 5   Residual Demand              35064 non-null  float64
 6   RSA Contracted Demand        35064 non-null  float64
 7   International Exports        35064 non-null  float64
 8   International Imports        35064 non-null  float64
 9   Thermal Generation           35064 non-null  float64
 10  Nuclear Generation           35064 non-null  float64
 11  Eskom Gas Generation         35064 non-null  float64
 12  Eskom OCGT Generation        35064 non-null  float64
 13  Hydro Water Generation       35064 non-null  float64
 14  Pumped Water Generation      35064 non-null  float64
 15  ILS Usage                    35064 non-null  float64
 16  Manual Load_Reduction(MLR)   35064 non-null  float64
 17  IOS Excl ILS and MLR         35064 non-null  float64
 18  Dispatchable IPP OCGT        35064 non-null  float64
 19  Eskom Gas SCO                35064 non-null  float64
 20  Eskom OCGT SCO               35064 non-null  float64
 21  Hydro Water SCO              35064 non-null  float64
 22  Pumped Water SCO Pumping     35064 non-null  float64
 23  Drakensberg Gen Unit Hours   35064 non-null  float64
 24  Palmiet Gen Unit Hours       35064 non-null  float64
 25  Ingula Gen Unit Hours        35064 non-null  float64
 26  Wind                         35064 non-null  float64
 27  PV                           35064 non-null  float64
 28  CSP                          35064 non-null  float64
 29  Other RE                     35064 non-null  float64
 30  Total RE                     35064 non-null  float64
 31  Wind Installed Capacity      35064 non-null  float64
 32  PV Installed Capacity        35064 non-null  float64
 33  CSP Installed Capacity       35064 non-null  float64
 34  Other RE Installed Capacity  35064 non-null  float64
 35  Total RE Installed Capacity  35064 non-null  float64
dtypes: datetime64[ns](1), float64(34), object(1)
memory usage: 9.6+ MB

### Save cleaned data to csv/excel

In [18]:
df_cleaned.to_csv(r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\Eskom_cleaned.csv", index = False)
df_cleaned.to_excel(r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\Eskom_cleaned.xlsx", index = False)

## SEGMENT THE DATA (DURING and POST COVID)

In [19]:
# Lets divide the datasets

# During COVID: data from April 1, 2020, to June 22, 2022
during_covid = df_cleaned[(df_cleaned['Date_Time'] >= '2020-04-01') & (df_cleaned['Date_Time'] <= '2022-06-22')]

# Post-COVID: data from June 23, 2022, onwards
post_covid = df_cleaned[df_cleaned['Date_Time'] >= '2022-06-23']

In [20]:
during_covid.tail()

,Date_Time,Time_Hr,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
19507,2022-06-22,19:00:00,31237.526,31934.821,29636.121,32361.200,33172.052,1417.850,1367.0,23918.00,...,791.927,0.0,0.0,18.925,810.852,3163.37,2212.09,500.0,50.58,5926.04
19508,2022-06-22,20:00:00,29776.126,30448.064,28242.000,30851.044,31600.310,1368.648,1391.0,23620.00,...,732.587,0.0,0.0,16.679,749.266,3163.37,2212.09,500.0,50.58,5926.04
19509,2022-06-22,21:00:00,27084.005,27747.461,25840.001,28112.213,28875.422,1270.526,1474.0,23413.00,...,746.629,0.0,0.0,16.580,763.209,3163.37,2212.09,500.0,50.58,5926.04
19510,2022-06-22,22:00:00,24782.713,25419.026,23985.391,25549.443,26301.931,1239.156,1432.0,23387.99,...,735.551,0.0,0.0,16.937,752.488,3163.37,2212.09,500.0,50.58,5926.04
19511,2022-06-22,23:00:00,22917.044,23587.821,22548.935,23743.058,24564.123,1239.170,1419.0,22413.00,...,804.094,0.0,0.0,16.971,821.065,3163.37,2212.09,500.0,50.58,5926.04

In [21]:
post_covid.head()

,Date_Time,Time_Hr,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
19512,2022-06-23,00:00:00,21627.104,22333.176,22146.101,22146.101,22983.605,1246.934,1468.0,21962.3,...,820.513,0.0,0.0,16.991,837.504,3163.37,2212.09,500.0,50.58,5926.04
19513,2022-06-23,01:00:00,21157.078,21891.065,21458.068,21458.068,22426.998,1234.203,1509.0,21236.0,...,951.950,0.0,0.0,16.980,968.930,3163.37,2212.09,500.0,50.58,5926.04
19514,2022-06-23,02:00:00,20958.365,21730.519,21089.135,21089.135,22277.367,1225.713,1462.0,20910.0,...,1171.277,0.0,0.0,16.955,1188.232,3163.37,2212.09,500.0,50.58,5926.04
19515,2022-06-23,03:00:00,21284.820,22098.023,21490.068,21490.068,22537.145,1231.370,1449.0,21314.0,...,1030.363,0.0,0.0,16.714,1047.077,3163.37,2212.09,500.0,50.58,5926.04
19516,2022-06-23,04:00:00,22644.590,23491.410,22982.068,22982.068,23902.284,1277.764,1360.0,22688.0,...,903.619,0.0,0.0,16.597,920.216,3163.37,2212.09,500.0,50.58,5926.04

## SAVE SEGMENTED DATA TO CSV/EXCEL

In [22]:
during_covid.to_csv(r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\Eskom_lockdown_cleaned.csv", index = False)
during_covid.to_excel(r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\Eskom_lockdown_cleaned.xlsx", index = False)

post_covid.to_csv(r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\Eskom_PL_cleaned.csv", index = False)
post_covid.to_excel(r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\Eskom_PL_cleaned.xlsx", index = False)

In [24]:
test = pd.read_csv(r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\Eskom_PL_cleaned.csv")

In [25]:
test.head()

,Date_Time,Time_Hr,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
0,2022-06-23,00:00:00,21627.104,22333.176,22146.101,22146.101,22983.605,1246.934,1468.0,21962.3,...,820.513,0.0,0.0,16.991,837.504,3163.37,2212.09,500.0,50.58,5926.04
1,2022-06-23,01:00:00,21157.078,21891.065,21458.068,21458.068,22426.998,1234.203,1509.0,21236.0,...,951.950,0.0,0.0,16.980,968.930,3163.37,2212.09,500.0,50.58,5926.04
2,2022-06-23,02:00:00,20958.365,21730.519,21089.135,21089.135,22277.367,1225.713,1462.0,20910.0,...,1171.277,0.0,0.0,16.955,1188.232,3163.37,2212.09,500.0,50.58,5926.04
3,2022-06-23,03:00:00,21284.820,22098.023,21490.068,21490.068,22537.145,1231.370,1449.0,21314.0,...,1030.363,0.0,0.0,16.714,1047.077,3163.37,2212.09,500.0,50.58,5926.04
4,2022-06-23,04:00:00,22644.590,23491.410,22982.068,22982.068,23902.284,1277.764,1360.0,22688.0,...,903.619,0.0,0.0,16.597,920.216,3163.37,2212.09,500.0,50.58,5926.04

In [26]:
test1 = pd.read_excel(r"C:\Users\phiri\Desktop\Data Analysis\Eskom_PR\Eskom_PL_cleaned.xlsx")
test1.head()

,Date_Time,Time_Hr,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
0,2022-06-23,00:00:00,21627.104,22333.176,22146.101,22146.101,22983.605,1246.934,1468.0,21962.3,...,820.513,0.0,0.0,16.991,837.504,3163.37,2212.09,500,50.58,5926.04
1,2022-06-23,01:00:00,21157.078,21891.065,21458.068,21458.068,22426.998,1234.203,1509.0,21236.0,...,951.950,0.0,0.0,16.980,968.930,3163.37,2212.09,500,50.58,5926.04
2,2022-06-23,02:00:00,20958.365,21730.519,21089.135,21089.135,22277.367,1225.713,1462.0,20910.0,...,1171.277,0.0,0.0,16.955,1188.232,3163.37,2212.09,500,50.58,5926.04
3,2022-06-23,03:00:00,21284.820,22098.023,21490.068,21490.068,22537.145,1231.370,1449.0,21314.0,...,1030.363,0.0,0.0,16.714,1047.077,3163.37,2212.09,500,50.58,5926.04
4,2022-06-23,04:00:00,22644.590,23491.410,22982.068,22982.068,23902.284,1277.764,1360.0,22688.0,...,903.619,0.0,0.0,16.597,920.216,3163.37,2212.09,500,50.58,5926.04

In [27]:
test1.tail()

,Date_Time,Time_Hr,Residual Forecast,RSA Contracted Forecast,Dispatchable Generation,Residual Demand,RSA Contracted Demand,International Exports,International Imports,Thermal Generation,...,Wind,PV,CSP,Other RE,Total RE,Wind Installed Capacity,PV Installed Capacity,CSP Installed Capacity,Other RE Installed Capacity,Total RE Installed Capacity
15547,2024-03-31,19:00:00,22558.340,24615.340,22626.450,22626.450,24536.452,1289.545,1301.027,18526.131,...,1623.009,0.0,179.924,35.887,1838.820,3442.57,2287.09,500,50.58,6280.24
15548,2024-03-31,20:00:00,21269.369,23292.369,21387.297,21387.297,23028.317,1217.789,1291.333,17431.704,...,1462.555,0.0,69.642,36.756,1568.953,3442.57,2287.09,500,50.58,6280.24
15549,2024-03-31,21:00:00,19797.933,21637.933,19778.334,19778.334,21606.294,1134.333,1310.758,16696.966,...,1718.517,0.0,1.103,36.351,1755.971,3442.57,2287.09,500,50.58,6280.24
15550,2024-03-31,22:00:00,18933.896,20446.896,18533.049,18533.049,20500.996,1144.559,1284.796,16577.079,...,1861.321,0.0,0.000,33.306,1894.627,3442.57,2287.09,500,50.58,6280.24
15551,2024-03-31,23:00:00,18106.006,19501.006,17703.493,17703.493,19656.482,1132.896,1292.789,16635.431,...,1850.744,0.0,0.000,30.255,1880.999,3442.57,2287.09,500,50.58,6280.24